<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main site -->
<main>
  <img
    src="img/SE-GitHub-image.png"
    alt="Huskie Code Logo"
    width="100"
    height="100"
  />
  <h1>Habit of Mind Journal</h1>
  `
</main>
<!-- /Main site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
