<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie Code Logo" />
    <h1>Habit of Mind Journal</h1>
    <a href="/createEntry" role="button">Create Entry</a>
  </div>
</main>
<!-- /Main site -->

<script src="/js/index.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
