<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main site -->
<main>Hello, world, again.</main>
<!-- /Main site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
